subscription_id                 = ""
org_prefix                      = "contoso"
environment                     = "prod"
region_code                     = "eus2"
location                        = "eastus2"

# Scope options: resource_group | subscription | management_group
policy_scope_type               = "resource_group"
management_group_id             = ""
policy_assignment_location      = "eastus"

create_governance_resource_group = true
governance_resource_group_name   = "Lekhika_RG"

deploy_free_app_service         = true
app_service_plan_sku_name       = "B1"
app_service_name_prefix         = "lekhika-webapp"

mandatory_tags = [
  "Environment",
  "Owner"
]

default_tags = {
  Environment = "prod"
  Owner       = "platform-team"
  CostCenter  = "IT-001"
}

policy_assignment_parameters = {
  naming = {
    orgPrefix   = "contoso"
    environment = "prod"
    regionCode  = "eus2"
    effect      = "Deny"
  }
  tagging = {
    effect = "Deny"
  }
}
